<script>
 window.gameName = "<%= @name %>";
</script>

<div class="row">
  <div class="column">
    <h1>Othello Game: <%= @name %></h1>
    <h3>You are playing <%= @user %>.</h3>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>
