<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>
    <p><input id="roomName" value="Enter game name"/></p>
    <p><a id="roomLink" href="/game/demo">Join "demo"</a></p>
  </div>
</div>
