<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>
    <%= form_for @conn, "/join", [as: :join], fn f -> %>
      <p>Who will you be playing as? <%= select f, :user, ["white", "black"] %></p>
      <p>Game Name: <%= text_input f, :name %></p>
      <p><%= submit "Join" %></p>
    <% end %>
  </div>
</div>
